@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');

* {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#chart__element {
	height: calc(100vh - 223px);
}

.chart__info {
	background: linear-gradient(#f46b45, #eea849);
	padding: 50px 0;
	width: 100%;
}

.chart__text {
 	color: #ffffff;
 	display: block;
	text-align: center;
	width: 100%;
}

.chart__text--subtitle {
	font-weight: 300;
}

.chart__text--weight {
	font-size: 100px;
}

.chart__text--small {
	display: inline;
	font-size: 50px;
}

#chart__more-info {
	bottom: 0;
	display: block;
	margin: 0 20px 20px 0;
	position: fixed;
	right: 0;
}

.overlay {
	background: linear-gradient(#fc00ff, #00dbde);
	bottom: 0;
	display: block;
	height: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	transition: height 1s ease-in-out;
	width: 100vw;
}

.overlay--open {
	height: calc(100vh - 175px);
	overflow: scroll;
}

.screen-too-small {
	align-items: center;
	background-color: #333;
	display: flex;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

@media screen and (min-width: 992px) {
	.screen-too-small {	
		display: none;
	}
}

.container-full {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 175px);
	justify-content: center;
	width: 100%;
}